.backfinalizar{
    z-index:3;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 424px;
    height: 1090px;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
}
body{
    position: absolute;
    width: 100%;
    background-color:#E5E5E5;
}
header{
    position: fixed;
    width: 424px;
    height: 92px;
    left: 0px;
    top: 0px;
    background-color: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2 ;
}
nav > h1 {
    font-family: 'Righteous';
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: -0.012em;
    text-align: left;
    margin-left: 20px;
    color: #FFFFFF;
}
nav > h2 {
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 20px;
    color: #FFFFFF;
}
main{
    z-index: 1;
    margin-top: 110px;
    margin-bottom: 58px;
}
div > h3{
    font-family: 'Righteous';
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.018em;
    text-align: left;
    margin: 8px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    color: rgba(51, 51, 51, 1);
}
section{
    width: 420px;
    height: 240px;
    display: flex;
    overflow-x: scroll;
}
article{
    width: 180px;
    height: 202px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    margin: 14px;
    box-shadow:  0px 0px 5px 1px #FFFFFF;
    margin-top: 15px;
    margin-bottom: 10px ;
}
figure > img {
    width: 144px;
    height: 87px;
    border-radius: 6px;
    margin: 6px;
}
figcaption{
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(51, 51, 51, 1);
    margin-left: 12px ;
}
h5{
    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(166, 166, 166, 1);
    margin-left: 12px;
    margin-bottom: 20px;
}
span{
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    margin-left: 12px ;
}
footer{
    position: fixed;
    width: 426px;
    height: 90px;
    left: 0px;
    bottom: 0px;
    background: #FFFFFF;
}
footer > button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
    color: #FFFFFF;
    position: absolute;
    width: 364px;
    height: 58px;
    left: 25px;
    bottom: 16px;
    background: #cbcbcb;
    border-radius: 50px;
}
.verdao{
    background-color: #50D074;
}

button:hover{
    filter:brightness(95%);
    animation: bounce .5s;
}
@keyframes bounce{
	10%, 40%, 70%{
	transform: translateY(-2px);
	}
	25%, 55%, 85%{
	transform: translateY(2px);
	}
}
article > ion-icon{
    margin-left: 50px;
    color: green;
}
section::-webkit-scrollbar{
    display: none;
}
section {
    -ms-overflow-style: none;
    scrollbar-width: none;  
}
summary{
    display:inline;
    position: fixed;
    top: 150px;
    width: 380px;
    height: 540px;
    padding: 30px;
    background-color: #50D074;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.finalizarzap{
    margin-top: 5px;
    width: 320px ;
    height: 46px;
    font-family: 'Roboto';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding: 2px;
    font-size: 16px;
    border-width: 3px;
    border-color: #18a827;
    background-color: #FFFFFF;
    color: black;
    border-style: inset;
    border-radius: 14px;
    box-shadow: -1px 2px 10px rgba(26,240,106,.75);
}
.nome > input{
    padding: 2px;
    font-size: 16px;
    border-width: 3px;
    border-color: #18a827;
    background-color: #FFFFFF;
    color: #206d56;
    border-style: inset;
    border-radius: 14px;
    box-shadow: -1px 2px 10px rgba(26,240,106,.75);
    text-shadow: 0px 0px 1px rgba(66,66,66,.75);
    width: 320px;
    height: 40px;
    border-radius: 9px;
}
.nome > p {
    font-family: 'Righteous';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.018em;
    text-align: left;
    margin: 4px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    color: rgba(51, 51, 51, 1);
}
.endereco > p {
    font-family: 'Righteous';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.018em;
    text-align: left;
    margin: 4px;
    margin-left: 4px;
    display: flex;
    flex-direction: column;
    color: rgba(51, 51, 51, 1);
}
.endereco > input{
    padding: 2px;
    font-size: 16px;
    border-width: 3px;
    border-color: #18a827;
    background-color: #FFFFFF;
    color: #206d56;
    border-style: inset;
    border-radius: 14px;
    box-shadow: -1px 2px 10px rgba(26,240,106,.75);
    text-shadow: 0px 0px 1px rgba(66,66,66,.75);
    border-radius: 9px;
    width: 320px;
    height: 40px;
}
.pagamentop{
    font-family: 'Righteous';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 0.018em;
    text-align: left;
    margin: 8px;
    margin-top: 10px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    color: rgba(51, 51, 51, 1);
}
.formapagamento > label{
    font-family: 'Righteous';
    font-size: 14px;
    font-style: bold;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.018em;
    text-align: left;
    margin-left: 5px;
    color: rgba(51, 51, 51, 1);
}
.finalprato > p{
    font-family: 'Righteous';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.018em;
    text-align: left;
    margin-left: 5px;
    color: rgba(51, 51, 51, 1);
}
.finalbebida > p{
    font-family: 'Righteous';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.018em;
    text-align: left;
    margin-left: 5px;
    color: rgba(51, 51, 51, 1);
}
.finalsobremesa > p {
    font-family: 'Righteous';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.018em;
    text-align: left;
    margin-left: 5px;
    color: rgba(51, 51, 51, 1);
}
.finalsobremesa{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.finalbebida{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.finalprato{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.formapagamento{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-top: 10px;
}
.somafinal{
    font-family: 'Righteous';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
input::placeholder{
    text-align: center;
}
input > text{
    padding-left: 40px;
}
.selecionado{
    box-shadow: 0px 0px 10px 2px rgba(0,194,11,0.52);
}
.sumir {
    display: none;
}
.sumirfinal {
    display: flex;
}